fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-multipart
scikit-learn
joblib
requests
beautifulsoup4
pytesseract
SpeechRecognition
motor
whisper
Pillow
httpx
PyMuPDF
scikit-learn == 1.3.0
python-dotenv